:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}
html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#202463, #9095E8);
  background-attachment: fixed;
}
 .banner-container {
  position: absolute;
  top: 0;
  left: 47%;
  transform: translateX(-40%);
}

.banner {
  width: 80%;
  max-width: 500px;
}