body {
    text-align: center;
    font-family: Arial, Helvetica;
}

.big {
font-size: 1.2em;
}

.square {
width: .7em;
height: .7em;
margin: .5em;
display: inline-block;
}

.custom-dropdown {
position: relative;
display: inline-block;
vertical-align: middle;
}

.custom-dropdown select {
background-color: rgb(191, 237, 245);
color: black;
font-size: inherit;
padding: .5em;
padding-right: 2.5em;	
border: 0;
margin: 0;
border-radius: 3px;
}

.custom-dropdown::before,
.custom-dropdown::after {
content: "";
position: absolute;
pointer-events: none;
}

button {
    padding-left: 5px;
}

p {
    margin-top: 70px;
}

h3 {
    margin-top: 70px;
}

.book-list {
    margin-top: 50px;
}