.book {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
}
  
.book-cover {
    flex: 0 0 250px;
    margin-right: 20px;
}
  
.book-cover img {
    width: 100%;
    box-shadow: 0px 15px 40px -10px rgba(0, 0, 0, 0.5);
    transition: transform 250ms ease;
}
  
.book-cover img:hover {
    transform: rotateZ(-2deg) scale(0.95);
}
  
.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
}
  
.book-title {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(4, 39, 73);
}
  
.author-line {
    font-weight: 600;
    margin-bottom: 10px;
}

.details {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
  
.book-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
  
.book-action p {
    margin: 0;
    padding: 0;
}
  
select {
    margin-top: 10px; 
  }
  
label {
    margin-top: 10px;
}
  
.save {
    margin-top: 20px;
    color: blueviolet;
}
.delete {
    margin-top: 10px;
    color: red;
}
button:hover {
    background: rgb(247, 176, 244);
    border-radius: 5px;
}
.review-form {
    margin-top: 20px;
    background: white;
}

.review-form textarea,
.review-form input[type="number"],
.review-form button {
  margin-bottom: 10px;
}

.review {
    margin-top: 50px;
}


