* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Book Card Component */
  .book-card {
    width: 220px;
    /* padding: 1px; */
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(238, 240, 217, 1);
  }
  
  .book-card__cover {
    position: relative;
    width: 100%;
    padding-top: 150%; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .book-card__title {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  

  .book-card__link {
    text-decoration: none;
    color: inherit;
  }
  .book-card__title {
    font-size: .9em;
    margin-top: 16px; 
    text-align: center; 
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0;
    background-color: rgba(155, 155, 155, 0.8); 
  }
  
  .book-card:hover .book-card__cover {
    transform: scale(1.05); 
  }
  